@media screen and (max-width: 720px){
	
	.header-cp h1 {
	font-size: 50px;
	
	}
	.header-cp h2 {
		font-size: 25px;
		
	}
	.about-img img {
    left: 0;
	}
	.about-content{
	margin-top: 260px;
	margin-right:0;
	}
	.about-content h1{
		padding-top: 30px;
		font-size: 30px;
	}
	.about-content p{
		padding-top: 5px;
		color:#d6d6d6;
		/*padding-bottom: 111px;*/
	}
	.slide-control{
		display: none;
	}
	.offer-box{
		margin-top: 50px;
	}
	.menu-title p{
	padding-bottom: 10px;
	font-family: 'Poppins', sans-serif;
	}
	.menu-title h1{
		
		font-size: 30px;
		font-family: 'Exo 2', sans-serif;
	}
	.free-deleve{
	margin:10px 0 10px;
	
	}
	

		
	


}