*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;

}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.d-non{
	display: none;
}

img{
	max-width: 100%;
}
.over-flow{
	overflow: hidden;
}


/*brand-color:e02f36*/

/*********************/
/*.active a{
	color: #000000!important;
	font-weight: bold;
	border-bottom: 1px #fff solid;
	transition: .3s;
}*/
#navbar{
	position: fixed;
	width: 100%;
	z-index: 1;
}
.navbar{
	background:#4AC2BC;
	
}

.navbar-nav{
	float: left;
	text-transform: uppercase;


}
.nav-item{
	padding: 0 10px;
	
}
.navbar-brand img{
	width: 130px;
	background: #fff;
	padding:10px 20px;
	border-radius: 5px;
}


.nav-item a{
	color: #fff;
	transition: .4s ease;
	font-family: 'Poppins', sans-serif;
 	
}
.nav-item a:hover{
	color: #252c3a;
	
}

.navbar-toggler-icon{
	color: #252c3a;

}

/*header part start
*/
#header{
	float: left;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.header-cp{
	text-align: center;
	padding-top: 250px;
	color: #fff;
	text-transform: uppercase;
}
.header-cp h1 {
	font-size: 80px;
	font-family: 'Exo 2', sans-serif;	
	color: #4AC2BC;
	letter-spacing: 2px;
}
.header-cp h1 span{
	color: #f7071b;
	font-weight: bold;
	text-shadow: 0 2px 5px rgba(0,0,0,.7);
}
.header-cp h2 {
	font-size: 30px;
	color: #EDEDED;
	font-family: 'Exo 2', sans-serif;
	margin-bottom: 40px;

}
.social-icone{
	float: left;
	font-size: 30px;
}
.social-icone a i{
	margin-left: 10px;
	color: #fff;
	font-size: 30px;
}


.btn a {
	border: 1px #fff solid;
	border-radius: 100px; 
	color: #fff;
	padding: 12px 30px;
	background: transparent;
	margin-top: 130px;
	transition: .3s;
	font-family: 'Exo 2', sans-serif;
	position: relative;
}
.btn a:before {
	content: "\f061";
	font-family:fontAwesome;
	width: 20px;
	height: 20px;
	color:#fff;
	position: absolute;
	top:27%;
	left: 5%;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.btn a:hover{
	background: #f7071b;
	color: #fff;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0,0.3);
	text-decoration: none;

}

.up-down i{
	font-size:45px;
	color: #4AC2BC;
	margin:70px 0 10px;
	padding-bottom: 50px;

}
.up-down {
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
}
    @-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}
    @keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}


/*about-us part star*/
#about-us{
	float: left;
	width: 100%;
	background:linear-gradient(rgba(74,194,188,0.9), rgba(0,0,0,0.5)), url(../images/bg.jpg) center fixed;
	position: relative;
}
.about-img img {
	background: #eee;
	padding:40px;
    width: 100%;
    position: absolute;
    top: 0;
    left: -104px;
    right: 0px;
}
.about-content{
	width: 100%;
	float: right;
	margin-right: 80px;
}
.about-content h1{
	padding-top: 60px;
	font-family: 'Exo 2', sans-serif;
	font-size: 40px;
	color:#ffffff;
}
.about-content p{
	padding-top: 10px;
	color:#d6d6d6;
	/*padding-bottom: 111px;*/
}
.pa{
	padding-bottom: 50px;
}
/*offer part start*/
#offer{
	padding: 20px 0 50px;
	float: left;
	width: 100%;
	background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/bg.jpg) center fixed;
	position: relative;
}
.sec-title{
	margin-top: 100px;
	text-align: center;
	margin-bottom: 50px;
}
.sec-title h1{
	color: #fff;
	font-family: 'Exo 2', sans-serif;
	padding-bottom: 20px;
	border-bottom: 2px #4AC2BC solid;
	display: inline-block;
}
.sec-title h1 span{
	color: #4AC2BC;
}
.offer-box{
	margin-top: 45px;
	padding: 20px;
	text-align: center;
	border: 1px #4AC2BC solid; 
	box-shadow: 0 5px 5px 0 rgba(131,131,131,0.5);
	border-radius: 20px;
	position: relative;
}
.offer-box:hover{
	box-shadow: 0 5px 15px 0 rgba(131,131,131,0.9);
}

.offer-box h2{
	padding-top:30px;
	color: #fff;
	font-family: 'Exo 2', sans-serif;
}
.offer-box p{
	padding-top: 10px;
	font-size: 15px;
	color:#d6d6d6;
}
.offer-icone{
	position: absolute;
	top: -43px;
	left: 30px;
}
.offer-icone i {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    font-size: 50px;
    background: #4AC2BC;
    border: 1px #fff solid;
    padding-top: 13px;
    color: #fff;
}
.left-arow a i{
	position: absolute;
	top: 65%;
	left: 20px;
	font-size: 30px;
	color: #fff;
}
.left-arow a i{
	position: absolute;
	top: 65%;
	left: 63px;
	font-size: 30px;
	color: #fff;
}
.right-arow a i{
	position: absolute;
	top: 65%;
	right: 63px;
	font-size: 30px;
	color: #fff;
}
/*protfolio part start*/

#menu{
	float: left;
	width: 100%;
	background: #ffffff;
	padding: 50px 0;
}
.menu-title{
	position: relative;
	text-align: center;

}
.menu-title p{
	padding-bottom: 10px;
	font-family: 'Poppins', sans-serif;
}
.menu-title h1{
	padding: 30px 0;
	display: inline-block;
	padding-bottom: 20px;
	position: relative;
	color: #333;
	line-height: 24px;
	letter-spacing: 0.025em;
	font-size: 50px;
	font-family: 'Exo 2', sans-serif;
}
.menu-title h1 span{
	color: #4AC2BC;
	font-family: 'Exo 2', sans-serif;
}


.menu-title:before{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -3%;
	width: 6%;
	height: 2px;
	background: #333;
	z-index: 1;
	transition: .2s ease;

}
.menu-title:hover:before{
	margin-left: -12%;
	width: 24%;
}

.menu-title:after{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -12%;
	width: 24%;
	height: 2px;
	background: linear-gradient(to right, #1e5799 0%,#3ccdbb 0%,#16c9f6 100%);
}






/*==============
product part start
===============*/
#product{
	padding-bottom: 50px;
	float: left;
	width: 100%;
}
.product-nav{
	float: left;
	position: relative;
	top: 0;
	transform: translateX(-50%);
	left: 50%;
	cursor: pointer;


}
.product-nav ul{
	margin: 0;
	padding: 0;
	
}
.product-nav ul li{
	float: left;
	padding: 0px 20px 10px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

.product-itmes{
	margin-top: 20px;
	float: left;
	width: 100%;
}
.product-each{
	margin-top: 2px;
	float: left;
	width: 100%;
	position: relative;
}
.product-each-when-hover{
	position: absolute;
	top:0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
	transform: scale(0);
	transition: .4s ease;
	cursor: pointer;

}
.product-each-when-hover p{
	position: absolute;
	top:30%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 30px;
	color: #fff;
	font-family: 'Lobster', cursive;

}
.product-each-when-hover i{
	position: absolute;
	top: 60%;
	left: 50%;
	text-align: center;
	padding-top: 15px;
	width: 60px;
	height: 60px;
	background: #3b311f;
	border-radius: 50%;
	color: #fff;
	font-size: 25px;
	transform: translate(-50%, -50%);
}
.product-each:hover .product-each-when-hover {
	transform: scale(1);
}
.product-each img{
	float: left;
	width: 100%;
}


.mixitup-control-active{
	color: #4AC2BC;
}
/*as-seen part start*/
#as-seen{
	padding-bottom: 60px;
	float: left;
	width: 100%;
	background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/1.jpg) center fixed;
}
#as-seen h1{
	text-align: center;
	padding: 30px 0 30px;
	color: #fff;
	font-size: 50px;
	font-family: 'Exo 2', sans-serif;
}
.item{
	float: left;
	width: 100%;
}
.item img{
	float: left;
	width: 90%;
	opacity: .4;
	border: 3px #4AC2BC solid;
}
.item img:hover{
	opacity: .9;
}
#fotter{
	padding: 20px 0;
	float: left;
	width: 100%;
	background: #fff;
}

.fotter-icone{
	float: left;
}
.fotter-icone i{
	float: left;
	font-size: 30px;
	color: #4AC2BC;
	margin: 1px 20px 1px 0;
}
.fotter-img p i{
	margin-top: 2px;
	color: #333;
}
.fotter-img img{
	width: 70%;
	padding-bottom: 10px;
}
.free-deleve{
	margin-top: -58px;
	float: left;
	width: 100%;
	background: #4AC2BC;
	color: #ffffff;
	padding: 50px  10px 30px;
}
.free-deleve h3{
	padding: 10px 10px 2px;
	font-size: 20px;
	font-family: 'Exo 2', sans-serif;

}
.free-deleve i {
    font-size: 49px;
    margin-left: 154px;
}
.free-deleve ul {
    margin-top: -20px;
    margin-left: 20px;
}
.bor {
    width: 91px;
    background: #fff;
    height: 1px;
    margin-left: 10px;
}
.fotter-menu{
	padding-top: 10px;
}
.fotter-menu h3{
	font-weight: 600;
}
.bor2 {
    width: 91px;
    background: #4AC2BC;
    height: 1px;
}
.fotter-menu ul{
	margin-top: 5px;
}
.fotter-menu ul li{
	margin-top: 2px;
	color: #333;
}
